# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.sln
.vsconfig

# Rider / JetBrains
.idea/

# Build artifacts
*.obj
*.pdb
*.exe
*.dll

# Logs
*.log

# User-specific config
Config/DefaultEditorPerProjectUserSettings.ini

# Plugin temp/build folders
Plugins/*/Binaries/
Plugins/*/Intermediate/
Plugins/*/Saved/

# Ignore all Content by default
Content/*

# Re-open Content so selected subfolders can be tracked
!Content/

# Allow these folders themselves
!Content/BlueprintTools/
!Content/PythonTools/

# Allow everything inside them
!Content/BlueprintTools/**
!Content/PythonTools/**